Required Modules

In [85]:
import requests
import json
import pandas as pd
from datetime import datetime
from pytz import timezone

# OSRS Get Request

In [86]:
url = "https://secure.runescape.com/m=hiscore_oldschool/index_lite.ws"
pair = {"player":"mmorpg"}

In [111]:
page = requests.get(url, params=pair)

In [89]:
hs = page.text.split("\n")

In [90]:
hs1 = [word for line in hs for word in line.split(",")]

In [92]:
hs1 = [float(i) for i in hs1[:-1]]

In [93]:
eastern = timezone('US/Eastern')
hs1.insert(0,datetime.now(eastern).strftime("%m/%d/%Y, %H:%M:%S"))
hs1.insert(1,"tehbribri")

In [94]:
highscore = pd.read_csv("OSRS Highscores.csv")

In [100]:
s = pd.Series(hs1, index=highscore.columns)
highscore = highscore.append(s, ignore_index=True)

In [101]:
highscore

,Date,Username,Total Rank,Total Level,Total XP,Attack Rank,Attack Level,Attack XP,Defence Rank,Defence Level,...,Vet'ion Rank,Vet'ion KC,Vorkath Rank,Vorkath KC,Wintertodt Rank,Wintertodt KC,Zalcano Rank,Zalcano KC,Zulrah Rank,Zulrah KC
0,"03/30/2021, 18:22:09",tehbribri,400.0,2277.0,1.375118e+09,669.0,99.0,94046529.0,701.0,99.0,...,609.0,1216.0,6081.0,3500.0,136827.0,388.0,1680.0,1837.0,1346.0,10593.0
1,"03/30/2021, 18:22:09",tehbribri,400.0,2277.0,1.375118e+09,669.0,99.0,94046529.0,701.0,99.0,...,609.0,1216.0,6081.0,3500.0,136827.0,388.0,1680.0,1837.0,1346.0,10593.0

# Convert to Function

In [108]:
def get_highscore(username):
    url = "https://secure.runescape.com/m=hiscore_oldschool/index_lite.ws"
    pair = {"player":username}
    hs_page = requests.get(url, params=pair)
    highscore = hs_page.text.split("\n")
    highscore = [word for line in highscore for word in line.split(",")]
    highscore = [float(i) for i in highscore[:-1]]
    
    eastern = timezone("US/Eastern")
    highscore.insert(0, datetime.now(eastern).strftime("%m/%d/%Y, %H:%M:%S"))
    highscore.insert(1, username)
    
    highscore_database = pd.read_csv("OSRS Highscores.csv")
    
    append = pd.Series(highscore, index=highscore_database.columns)
    highscore_database = highscore_database.append(append, ignore_index=True)
    
    return(highscore_database)

In [110]:
get_highscore("tehbribri")

,Date,Username,Total Rank,Total Level,Total XP,Attack Rank,Attack Level,Attack XP,Defence Rank,Defence Level,...,Vet'ion Rank,Vet'ion KC,Vorkath Rank,Vorkath KC,Wintertodt Rank,Wintertodt KC,Zalcano Rank,Zalcano KC,Zulrah Rank,Zulrah KC
0,"03/30/2021, 18:31:51",tehbribri,159168.0,1971.0,106487128.0,404345.0,89.0,5050030.0,362477.0,89.0,...,-1.0,-1.0,-1.0,-1.0,425855.0,80.0,-1.0,-1.0,128980.0,402.0